run = "python server.py"

modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
target = "cloud_run"

[deployment.cloudRun]
entrypoint = "python server.py"
port = 5000
healthcheckPath = "/"

[[ports]]
localPort = 5000
externalPort = 80